In [1]:
import numpy as np
import pandas as pd

In [9]:
### RL Dataset 1 edit

dataset = np.genfromtxt('/home/augustsemrau/drive/bachelor/TGML/src/data/real/email_eu_core_temporal_og.csv', delimiter=' ')

## Remove datapoints the lie faar out timewise
dataset = dataset[dataset[:,2] < 5e7]
print(f'Length of reduced real life dataset: {len(dataset)}')

## Transform time-intervals
t_min = min(dataset[:,2])
t_max = max(dataset[:,2])
dataset[:,2] =  525.52 * ((dataset[:,2] - t_min) / t_max)

## Map node indices to the span of 0 to 986
for i in range(len(np.unique([dataset[:,0],dataset[:,1]]))):
    dataset[:,:2][dataset[:,:2].astype(int) == int(np.unique([dataset[:,0],dataset[:,1]])[i])] = i

df = pd.DataFrame(data=dataset)
df.to_csv('email_eu_core_temporal.csv', index=False, header=False)
df

Length of reduced real life dataset: 329910

array([[5.82000000e+02, 3.64000000e+02, 0.00000000e+00],
       [1.68000000e+02, 4.72000000e+02, 3.23725355e-02],
       [1.68000000e+02, 9.12000000e+02, 3.82405639e-02],
       ...,
       [7.90000000e+02, 1.26000000e+02, 5.25503461e+02],
       [7.82000000e+02, 1.26000000e+02, 5.25517280e+02],
       [6.85000000e+02, 6.43000000e+02, 5.25520000e+02]])

In [19]:
### RL Dataset 2 edit
dataset = pd.read_csv('/home/augustsemrau/drive/bachelor/TGML/src/data/real/resistance_game4_og.csv', header=None)

## Convert into standard TDGN data format
## Create node pairs
pairs = []
for i in list(dataset.iloc[0])[1:]:
    pair = []
    if len(i) > len('P1_TO_P1'):
        pair.append(int(i[1]))
        pair.append(int(0))
    else:
        
        pair.append(int(i[1]))
        pair.append(int(i[-1]))
    pairs.append(pair)

## Create desired dataset
dataset_desired = []
for row in range(1,dataset.shape[0]):
    time = dataset.iloc[row][0]
    for i in range(1, len(pairs)+1):
        if int(dataset.iloc[row][i]) == 1:
            interaction = []
            interaction.append(pairs[i-1][0])
            interaction.append(pairs[i-1][1])
            interaction.append(time)
            dataset_desired.append(interaction)


## Transform time-intervals
dataset_desired = np.array(dataset_desired, dtype=np.float64)
t_min = min(dataset_desired[:,2])
t_max = max(dataset_desired[:,2])
dataset_desired[:,2] =  ((t_max / 60) / 3) * ((dataset_desired[:,2] - t_min) / t_max)

df = pd.DataFrame(data=dataset_desired)
df.to_csv('resistance_game4.csv', index=False, header=False)
df

         0    1          2
0      1.0  6.0   0.000000
1      2.0  6.0   0.000000
2      3.0  2.0   0.000000
3      4.0  6.0   0.000000
4      5.0  7.0   0.000000
...    ...  ...        ...
58579  4.0  6.0  40.677778
58580  5.0  7.0  40.677778
58581  6.0  2.0  40.677778
58582  7.0  6.0  40.677778
58583  8.0  7.0  40.677778

[58584 rows x 3 columns]

In [5]:
(7322/60)/3

40.67777777777778